@using EndangeredNearYou.Infrastructure.Classes
@model IEnumerable<Observations_SpeciesCounts>

<h2>Endangered Species</h2>

<div style="display: block">
    Below is a list of threatened species in your area.</a>
</div>

<table class="table">
    <tr>
        <th>Image</th>
        <th>Common Name</th>
        <th>Species</th>
        <th>Conservation Status</th>
    </tr>

    @foreach (var species in @Model)
    {
        string json = System.Text.Json.JsonSerializer.Serialize(species);
        string formId = $"form-{species.taxon.name}";

        <form id="@formId" asp-controller="Species" asp-action="Details" method="post">
            <input type="hidden" name="speciesJson" value='@json' />
        </form>

        string status;
        if (species.taxon.conservation_Status != null)
        {
            status = species.taxon.conservation_Status.status_name;
        }
        else
        {
            status = "unavailable";
        }
        <tr onclick="document.getElementById('@formId').submit();">
            <td><img src="@species.taxon.default_photo.square_url" class="species-image-preview" /></td>
            <td>@species.taxon.preferred_common_name</td>
            <td>@species.taxon.name</td>
            <td>@status</td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("tr").hover(
                function() {
                    $(this).addClass("table-hover");
                },
                function() {
                    $(this).removeClass("table-hover");
                }
            )
        });
    </script>
}