@using EndangeredNearYou.Web.Models
@model LocationViewModel

<h3>@Model.Country_Code Information</h3>

<table class="table">
    <tr>
        @* <th>City Id</th> *@
        <th>Country</th>
        <th>State</th>
        <th>County</th>
    </tr>
    <tr>
        @* <td>@Model.City_Id</td> *@
        <td>@Model.Country_Code</td>
        <td>@Model.State</td>
        <td>@Model.County</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Location/UpdateLocation/@Model.City_Id">Update this Location</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteLocation", "Location", "Post"))
    {
        <input type="hidden" asp-for="City_Id" value="@Model.City_Id" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this location" />
    }
</div>